{% extends "base.html" %}

{% block title %}
NickForum - Forum for coders
{% endblock %}

{% block content %}

<div class="container-xl" xmlns="http://www.w3.org/1999/html">
    <div class="container-sm">
        <div class="card mb-4 mt-4">
            <div class="card-body">
                <form action="." method="POST">
                    {% csrf_token %}
                    <div class="container">
                        <div class="card-text mt-3">
                            <h3>Add AutoService:</h3>
                        </div>

                        <div class="card-text ">
                            <label for="id_name">Name:</label>
                            <input type="text" class="form-control" id="id_name" name="name"
                                   placeholder="Autoservice №56">
                        </div>

                        <div class="card-text mt-3">
                            <label for="id_address">Address:</label>
                            <input type="text" class="form-control" id="id_address" name="address"
                                   placeholder="Minsk, street Pobedy 25/1">
                        </div>

                        <div class="card-text mt-3">
                            <label for="id_website">Website:</label>
                            <input type="url" class="form-control" id="id_website" name="website"
                                   placeholder="https://www.your_autoservice.com/">
                        </div>

                        <div class="card-text mt-3">
                            <div class="row">
                                <div class="col">
                                    <label for="id_working_days">Working days:</label>
                                    <select class="js-working_days form-control" name="working_days"
                                            multiple="multiple"
                                            id="id_working_days">
                                        {% for day in days %}
                                        <option value="{{ day.id }}">{{ day.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="id_recording_time">Recording time:</label>
                                    <select class="js-recording_time form-control" name="recording_time"
                                            id="id_recording_time">
                                        {% for recording_time in recording_times %}
                                        <option value="{{ recording_time.id }}">{{ recording_time }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="id_opening_time">Opening time:</label>
                                    <input type="text" class="form-control" id="id_opening_time" name="opening_time"
                                           placeholder="janem">
                                </div>
                                <div class="col">
                                    <label for="id_closing_time">Closing time:</label>
                                    <input type="text" class="form-control" id="id_closing_time" name="closing_time"
                                           placeholder="janem">
                                </div>
                            </div>
                        </div>

                        <div class="card-text mt-3">
                            <label for="id_email">Service Email:</label>
                            <input type="email" class="form-control" id="id_email" name="email"
                                   placeholder="example@mail.ru">
                        </div>

                        <div class="card-text mt-3">
                            <label for="id_phone_number">Service Phone number:</label>
                            <input type="text" class="form-control" id="id_phone_number" name="phone_number"
                                   placeholder="Phone number must be entered in the format: '+375(29)12-12-123'">
                        </div>
                        <div class="card-text mt-3">
                            <button type="submit" class="btn btn-primary col-md-4">Add Autoservice</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.js-working_days').select2({
            width: '100%'
        });

        // $(".js-example-responsive").select2({});

        $(".js-example-placeholder-single").select2({
            minimumResultsForSearch: Infinity,
            width: '100%',
        });
    });

    $(function () {
        $("#id_opening_time").timepicker({
            timeFormat: 'HH:mm',
            ampm: false,
            interval: 60,
            minTime: '5',
            maxTime: '11:00pm',
            defaultTime: '8',
            startTime: '05:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });
        $("#id_closing_time").timepicker({
            timeFormat: 'HH:mm',
            ampm: false,
            interval: 60,
            minTime: '5',
            maxTime: '11:00pm',
            defaultTime: '20',
            startTime: '05:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });
    });
</script>
<style>
    p {
        color: red;
    }

    .text {
        font-size: 24px;
    }
</style>
{% endblock %}