{% extends "base.html" %}

{% block title %}
{{ service.name }}
{% endblock %}

{% block content %}

<div class="container-xl">
    <div class="card-text mb-4 mt-4">
        <div class="card-body">
            <div class="container px-5">
                <div class="container px-5">
                    <div class="container px-5">
                        <div class="row">
                            <table class="table table-bordered border-primary">
                                <thead>
                                <tr>
                                    <th scope="col">
                                        <div align="center">&ensp;Mon &ensp;</div>
                                    </th>
                                    <th scope="col">
                                        <div align="center">&ensp;Tue &ensp;</div>
                                    </th>
                                    <th scope="col">
                                        <div align="center">&ensp;Wed &ensp;</div>
                                    </th>
                                    <th scope="col">
                                        <div align="center">&ensp;Thu &ensp;</div>
                                    </th>
                                    <th scope="col">
                                        <div align="center">&ensp;Fri &ensp;</div>
                                    </th>
                                    <th scope="col">
                                        <div align="center">&ensp;Sat &ensp;</div>
                                    </th>
                                    <th scope="col">
                                        <div align="center">&ensp;Sun &ensp;</div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    {% for list_work_days in total_list %}
                                        {% for day in list_work_days %}
                                            {% if day != 0 %}
                                                {% if day not in total_work_days %}
                                                <td class="table-active">
                                                    <div class="card-text mb-2 mt-2" align="center">
                                                        <h5>{{ day }}</h5>
                                                    </div>
                                                </td>
                                                {% else %}
                                                <td>
                                                    <div class="card-text mb-2 mt-2" align="center">
                                                        <a href="{% url 'vlads_app:time_selection' service.id day %}" role="button"
                                                           style="text-decoration: none;"><h5>{{ day }}</h5></a>
                                                    </div>
                                                </td>
                                                {% endif %}
                                            {% else %}
                                            <td class="table-active"></td>
                                            {% endif %}
                                        {% endfor %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}