{% extends "base.html" %}
{% block title %}
NickForum - Forum for coders
{% endblock %}

{% block content %}

<div class="container-xl">
    <div class="card-text mb-4 mt-4">
        <div class="card-body" style="width: 100%; height: 100%; margin-left: 100px">
            <h2 style="color: #fc0404;"><strong>Сервис для записи на диагностические станции техосмотра</strong></h2>
        </div>
        <div class="card-body mb-4 mt-5">
            <p class="text">
            <h4>Техосмотр. Что это и зачем он нужен:</h4>
            </p>
            <div class="card-text mb-4 mt-2">
                Прохождение техосмотра транспортного средства — обязательная
                процедура для всех автовладельцев,
                принимающих участие в дорожном движении, закрепленная на законодательном уровне в Беларуси.
            </div>
        </div>
        <div class="card-body mb-4 mt-4">
            <p class="text">
            <h4>Где пройти техосмотр:</h4>
            </p>
            <div class="card-text mb-4 mt-2">
                На нашем сайте в разделе "<a href="services/"><span
                    style="color: #fc0404;"><strong>Services</strong></span></a>" вы можете выбрать ближайшую удобную
                для вас станцию и записаться на
                нужное вам время.
            </div>
        </div>
        <div class="card-body mb-4 mt-4">
            <p class="text">
            <h4>Как часто нужно проходить техосмотр:</h4>
            </p>
            <div class="card-text mb-4 mt-2">
                Если возраст транспортного средства не превышает 10 лет, а масса не выше 750 кг, то проходить
                диагностику нужно 1 раз в 2 года. Это касается легковых автомобилей, прицепов, мототехники.<br><br>

                Если автомобилю более 10 лет, а масса не превышает 750 кг, диагностика требуется 1 раз в год. Это
                актуально как для легковых автомобилей, так и для тягачей, грузовиков, прицепов. Такси должны проходить
                техосмотр 1 раз в полгода.<br><br>

                Обладателям новых автомобилей или машин, чей срок выпуска не превышает 2 года, проходить диагностику на
                станции не нужно. Достаточно лишь, приехав туда, предъявить аптечку, огнетушитель и знак аварийной
                остановки.<br><br>

                Важно: после регистрации транспортного средства владелец обязан пройти техосмотр в течение 10 дней.
            </div>
        </div>
        <div class="card-body mb-4 mt-4">
            <p class="text">
            <h4>Пошаговый алгоритм прохождения технического осмотра:</h4>
            </p>
            <h5><strong>По прибытию на диагностическую станцию вам необходимо:</strong></h5>
            <div class="card-text mb-4 mt-4">
                <div class="d-flex">
                    <div class="flex-shrink-0 mt-2">
                        <img src="/media/arrow_right.png" width="20" alt="arrow_right">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Предоставить в окно приема документы для внесения данных о транспортном средстве и владельце
                        (представителе владельца) в базу данных и систему контроля;
                    </div>
                </div>
            </div>
            <div class="card-text mb-4 mt-4">
                <div class="d-flex">
                    <div class="flex-shrink-0 mt-2">
                        <img src="/media/arrow_right.png" width="20" alt="arrow_right">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Оплатить услуги диагностической станции и госпошлину за допуск в дорожном движении, можно
                        оплатить непосредственно на станции диагностики или заранее через систему ЕРИП;
                    </div>
                </div>
            </div>
            <div class="card-text mb-4 mt-4">
                <div class="d-flex">
                    <div class="flex-shrink-0 mt-2">
                        <img src="/media/arrow_right.png" width="20" alt="arrow_right">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Пройти технический осмотр на диагностической линии;
                    </div>
                </div>
            </div>
            <div class="card-text mb-4 mt-4">
                <div class="d-flex">
                    <div class="flex-shrink-0 mt-2">
                        <img src="/media/arrow_right.png" width="20" alt="arrow_right">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Получить диагностическую карту с результатами осмотра;
                    </div>
                </div>
            </div>
            <div class="card-text mb-4 mt-4">
                <div class="d-flex">
                    <div class="flex-shrink-0 mt-2">
                        <img src="/media/arrow_right.png" width="20" alt="arrow_right">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Предоставить на проверку документы и пройти сверку марки, модели, цвета, года выпуска, номерных
                        знаков и номеров агрегатов;
                    </div>
                </div>
            </div>
            <div class="card-text mb-4 mt-4">
                <div class="d-flex">
                    <div class="flex-shrink-0 mt-2">
                        <img src="/media/arrow_right.png" width="20" alt="arrow_right">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Получить разрешение на допуск к участию в дорожном движении транспортного средства с отметкой о
                        прохождении техосмотра и вашу копию диагностической карты.
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body mb-4 mt-5">
            <p class="text">
            <h4>Какие документы нужны для прохождения техосмотра, перечень:</h4>
            </p>
            <div class="card-text mb-4 mt-4">
                <div class="d-flex">
                    <div class="flex-shrink-0 mt-2">
                        <img src="/media/arrow_right.png" width="20" alt="arrow_right">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        действительное водительское удостоверение на управление транспортным средством соответствующей
                        категории (талон теперь не требуют, так как он отменен со 02.01.2020 года согласно указу № 492
                        от 30 декабря 2019 года)
                    </div>
                </div>
            </div>
            <div class="card-text mb-4 mt-4">
                <div class="d-flex">
                    <div class="flex-shrink-0 mt-2">
                        <img src="/media/arrow_right.png" width="20" alt="arrow_right">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        свидетельство о регистрации транспортного средства (техпаспорт) (сертификат, в котором ранее
                        ставилась отметка о прохождении техпаспорта отменен со 02.01.2020 года согласно указу № 492 от
                        30 декабря 2019 года, подробнее)
                    </div>
                </div>
            </div>
            <div class="card-text mb-4 mt-4">
                <div class="d-flex">
                    <div class="flex-shrink-0 mt-2">
                        <img src="/media/arrow_right.png" width="20" alt="arrow_right">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        страховой полис обязательного страхования гражданской ответственности транспортных
                        средств(«автогражданку»)
                    </div>
                </div>
            </div>
            <div class="card-text mb-4 mt-4">
                <div class="d-flex">
                    <div class="flex-shrink-0 mt-2">
                        <img src="/media/arrow_right.png" width="20" alt="arrow_right">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        квитанцию об оплате госпошлины за выдачу разрешения на допуск транспортного средства к участию в
                        дорожном движении.
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>

{% endblock %}