{% extends "base.html" %}

{% block title %}
CarService - Services
{% endblock %}

{% block content %}

<div class="container-sm" xmlns="http://www.w3.org/1999/html">
    <div class="card-text mb-4" style="margin-left: 50px; margin-right: 50px; margin-top: 40px;">
        <div class="card-body">
            <div class="card-text mt-3">
                <h4>To order a ticket, select a station:</h4>
            </div>

            {% for service in services %}
            <a class="card mb-4 mt-4" href="{% url 'vlads_app:day_selection' service.id %}"
               style="text-decoration: none; color: #1b1b1b;">
                <div class="card-text mb-2 mt-2" style="margin-left:20px;">
                    <p class="card-text">
                    <h5 style="font-weight: normal;"><strong>{{ service.name }}</strong></h5>
                    </p>
                    <p class="card-text">
                    <h5 style="font-weight: normal;"><small class="text-muted">{{ service.address }}</small></h5>
                    </p>
                </div>
            </a>
            {% endfor %}
            <a class="card mb-4 mt-4" href="{% url 'vlads_app:add_service' %}"
               style="text-decoration: none; color: #1b1b1b">
                <div class="card-text mb-2 mt-2" style="margin-left:20px;">
                    <p class="card-text">
                    <h5 style="font-weight: normal;"><strong>Diagnostic station No. ** - Autocentre "MyService"</strong></h5>
                    </p>
                    <p class="card-text">
                    <h5 style="color: #0000EE; font-weight: normal;">Add your car service</h5>
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}