{% extends "base.html" %}
{% block title %}
Profile
{% endblock %}


{% block content %}
<div class="container-xl" xmlns="http://www.w3.org/1999/html">
    <div class="card mb-3 mt-4">
        <div class="card-body">
            <div class="card-text mb-3 mt-4">

                <div class="card-text">
                    <p class="card-text" style="margin-left:20px;"><h4>{{service.name }}</h4></p>
                </div>
                {% for time in times %}
                {% if time.customer %}
                <div class="card-text">
                    <p class="card-text" style="margin-left:20px;">
                        <h6>{{ time.day.date_for_profile }}, {{ time }} --


                                <a class="btn btn-primary" data-bs-toggle="collapse" href="#{{ time.customer }}" role="button"
                                   aria-expanded="false" aria-controls="{{ time.customer }}">
                                    {{ time.customer.name }} {{ time.customer.surname }}
                                </a>

                        </h6>
                    </p>
                    <div class="collapse" id="{{ time.customer }}">
                        <div class="card card-body">
                            {{ time.customer.name }}
                            {{ time.customer.surname }}
                            {{ time.customer.patronymic }}
                            <div>{{ time.customer.car }}</div>
                            <div>{{ time.customer.phone_number }}</div>
                            <div>{{ time.customer.email }}</div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <p class="card-text">Name: {{ user.first_name }}</p>
            <p class="card-text">Surname: {{ user.last_name }}</p>
            <p class="card-text">Email: {{ user.email }}</p>
            <p class="card-text">Joined us: {{ user.date_joined }}</p>
        </div>
    </div>

</div>

{% endblock %}